:root {
--primary-font: 'Playfair Display',
   serif;
--secondary-font: 'Jost',
   sans-serif;
--primary-color: #c19bd0;  
--secondary-color: #cdee4a;
--background-color: #f1e6f5;
--button-background-color: rgba(255, 255, 255, 0.719);  
}

body {
   background: var(--background-color);
}

.text-align-center {
   text-align: center;
}

.text-stroke {
   -webkit-text-stroke: 0.3px #5aa311;
}

.box-main-page {
   margin-left: 20px;
}

.fixed-element {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 1030;
}

.navbar {
   background: var(--background-color);
   box-shadow: 0 1px 10px #70517e;
}

header {
   background: var(--primary-color);
   padding: 60px 60px;
}

.hero {
   padding: 10px 150px;
}

h2, h3 {
   color: var(--secondary-color);
}

h1 {
   text-align: center;
   font-size: 150px;
   color: #F2FEDC;
   font-family: var(--primary-font);
   margin: 0 10px;
}

.accentLetter {
   font-size: 230px;
}

.lastName {
   position: relative;
   top: 7rem;
   font-size: 63px;
   color: #F2FEDC;
   opacity: 0.7;
   font-family: var(--primary-font);
   
   font-weight: 100;
}


h2 {
   margin: 0;
   text-align: start;
   font-size: 60px;
   font-family: var(--primary-font);
   font-weight: 500;
}

hr.heroLine {
   color: #c9f80a;
   width: 23%;
   opacity: 1;
}

h3 {
   margin: 5px 0;
   font-size: 40px;
   font-weight: 400;
   font-family: 'Raleway',
      sans-serif;
}


div.navigation {
   display: flex;
   justify-content: center;
}

button {
   padding: 10px 20px;
   margin: 0 30px 20px;
   border: 1px solid var(--button-background-color);
   background: var(--button-background-color);
   font-family: var(--primary-font);
   font-size: 20px;
   font-weight: 500;
   color: #350e35;
   box-shadow: 5px 5px #cab7d1;
}

button:hover {
   background: var(--secondary-color);
   box-shadow: 8px 8px 8px #ac98b4;
   transition: 400ms ease-in-out;
   color: #203F00;
   cursor: pointer;
}

button:active {   
   box-shadow: 0px 0px 20px #aaf322;
}

.sub-heading {
   color: var(--primary-color);
   font-weight: 700;
   line-height: 2.5;
   margin-left: 7%;
}

hr {
   color: #350e35;
   width: 90%;
   margin: 0 auto;
}

a.mainPage {
   text-decoration: none;
   line-height: 1.5;
}

div.paragraph-wrap {
   display: flex;
}

p {
   padding: 20px 24px;
   margin: 20px;
   background: var(--background-color);
   border-radius: 20px;
   font-family: var(--secondary-font);
   text-align: start;
}

a.general {
   text-decoration: none;
   font-family: var(--secondary-font);
   font-size: 25px;
   color: #385F00;
}

@media (max-width: 1024px) {
   header {
      padding: 20px;
   }

   .hero {
         margin: 0;
         padding: 80px 10px 30px;
         text-align: start;
   }

   h1 {
      font-size: 100px;
      text-align: center;
   }

   .accentLetter {
      font-size: 180px;
   }

   .lastName {
      /*transform: rotate(-90deg);
      font-size: 55px;*/
      font-size: 50px;
      position: relative;
      top: 7rem;
   }
   
   h2 {
      font-size: 28px;
      text-align: center;
   }

   h3 {
      font-size: 35px;
      text-align: center;
   }

   div.navigation {
   display: flex;
   justify-content: center;
   flex-direction: column;
   }

   div.paragraph-wrap {
      display: flex;
      flex-direction: column;
   }
}

@media (max-width: 576px) {
h1 {
      font-size: 60px;
      text-align: center;
   }

   .accentLetter {
      font-size: 110px;
   }

   .lastName {
      position: relative;
      top: 3rem;
      font-size: 30px;
      font-weight: 300;
   }
   
   h3 {
      font-size: 22px;
      font-weight: 300;
      }
}
